# 01 Importing libraries and Data Set

In [3]:
# import libraries
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

In [4]:
# assign path
path = r'C:\Users\shaiv\Downloads\Instacart Basket Analysis'
path

'C:\\Users\\shaiv\\Downloads\\Instacart Basket Analysis'

In [5]:
# import data set
ords_prods_custs = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods_custs_merge.pkl'))

# 02 Checking PII in data

In [9]:
# Showing first 5 rows
ords_prods_custs.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered,...,frequency_flag,First Name,Last Name,Gender,State,Age,Date Joined,Number of dependents,Family Status,Income
0,2539329,1,1,2,8,NaN,True,196,1,0,...,Non-frequent customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
1,2539329,1,1,2,8,NaN,True,14084,2,0,...,Non-frequent customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
2,2539329,1,1,2,8,NaN,True,12427,3,0,...,Non-frequent customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
3,2539329,1,1,2,8,NaN,True,26088,4,0,...,Non-frequent customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
4,2539329,1,1,2,8,NaN,True,26405,5,0,...,Non-frequent customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423

##### This data set contains PII that are First Name, Last Name, and Income. We will keep this information in the data set since the data is obtained from the public source, if the data was from private source we would have hid or eliminated the PII.

# 03 Create a regional segmentation of the data

In [12]:
# Assign Northeast Region
ords_prods_custs.loc[ords_prods_custs['State'] == 'Maine', 'region'] = 'Northeast'
ords_prods_custs.loc[ords_prods_custs['State'] == 'New Hampshire', 'region'] = 'Northeast'
ords_prods_custs.loc[ords_prods_custs['State'] == 'Vermont', 'region'] = 'Northeast'
ords_prods_custs.loc[ords_prods_custs['State'] == 'Massachusetts', 'region'] = 'Northeast'
ords_prods_custs.loc[ords_prods_custs['State'] == 'Rhode Island', 'region'] = 'Northeast'
ords_prods_custs.loc[ords_prods_custs['State'] == 'Connecticut', 'region'] = 'Northeast'
ords_prods_custs.loc[ords_prods_custs['State'] == 'New York', 'region'] = 'Northeast'
ords_prods_custs.loc[ords_prods_custs['State'] == 'Pennsylvania', 'region'] = 'Northeast'
ords_prods_custs.loc[ords_prods_custs['State'] == 'New Jersey', 'region'] = 'Northeast'

In [13]:
# Assign Midwest Region
ords_prods_custs.loc[ords_prods_custs['State'] == 'Wisconsin', 'region'] = 'Midwest'
ords_prods_custs.loc[ords_prods_custs['State'] == 'Michigan', 'region'] = 'Midwest'
ords_prods_custs.loc[ords_prods_custs['State'] == 'Illinois', 'region'] = 'Midwest'
ords_prods_custs.loc[ords_prods_custs['State'] == 'Indiana', 'region'] = 'Midwest'
ords_prods_custs.loc[ords_prods_custs['State'] == 'Ohio', 'region'] = 'Midwest'
ords_prods_custs.loc[ords_prods_custs['State'] == 'North Dakota', 'region'] = 'Midwest'
ords_prods_custs.loc[ords_prods_custs['State'] == 'South Dakota', 'region'] = 'Midwest'
ords_prods_custs.loc[ords_prods_custs['State'] == 'Nebraska', 'region'] = 'Midwest'
ords_prods_custs.loc[ords_prods_custs['State'] == 'Kansas', 'region'] = 'Midwest'
ords_prods_custs.loc[ords_prods_custs['State'] == 'Minnesota', 'region'] = 'Midwest'
ords_prods_custs.loc[ords_prods_custs['State'] == 'Iowa', 'region'] = 'Midwest'
ords_prods_custs.loc[ords_prods_custs['State'] == 'Missouri', 'region'] = 'Midwest'

In [14]:
# Assign South Region
ords_prods_custs.loc[ords_prods_custs['State'] == 'Delware', 'region'] = 'South'
ords_prods_custs.loc[ords_prods_custs['State'] == 'Maryland', 'region'] = 'South'
ords_prods_custs.loc[ords_prods_custs['State'] == 'District of Columbia', 'region'] = 'South'
ords_prods_custs.loc[ords_prods_custs['State'] == 'Virginia', 'region'] = 'South'
ords_prods_custs.loc[ords_prods_custs['State'] == 'West Virginia', 'region'] = 'South'
ords_prods_custs.loc[ords_prods_custs['State'] == 'North Carolina', 'region'] = 'South'
ords_prods_custs.loc[ords_prods_custs['State'] == 'South Carolina', 'region'] = 'South'
ords_prods_custs.loc[ords_prods_custs['State'] == 'Georgia', 'region'] = 'South'
ords_prods_custs.loc[ords_prods_custs['State'] == 'Florida', 'region'] = 'South'
ords_prods_custs.loc[ords_prods_custs['State'] == 'Kentucky', 'region'] = 'South'
ords_prods_custs.loc[ords_prods_custs['State'] == 'Tennessee', 'region'] = 'South'
ords_prods_custs.loc[ords_prods_custs['State'] == 'Mississippi', 'region'] = 'South'
ords_prods_custs.loc[ords_prods_custs['State'] == 'Alabama', 'region'] = 'South'
ords_prods_custs.loc[ords_prods_custs['State'] == 'Oklahoma', 'region'] = 'South'
ords_prods_custs.loc[ords_prods_custs['State'] == 'Texas', 'region'] = 'South'
ords_prods_custs.loc[ords_prods_custs['State'] == 'Arkansas', 'region'] = 'South'
ords_prods_custs.loc[ords_prods_custs['State'] == 'Louisiana', 'region'] = 'South'

In [15]:
# Assign West Region
ords_prods_custs.loc[ords_prods_custs['State'] == 'Idaho', 'region'] = 'West'
ords_prods_custs.loc[ords_prods_custs['State'] == 'Montana', 'region'] = 'West'
ords_prods_custs.loc[ords_prods_custs['State'] == 'Wyoming', 'region'] = 'West'
ords_prods_custs.loc[ords_prods_custs['State'] == 'Nevada', 'region'] = 'West'
ords_prods_custs.loc[ords_prods_custs['State'] == 'Utah', 'region'] = 'West'
ords_prods_custs.loc[ords_prods_custs['State'] == 'Colorado', 'region'] = 'West'
ords_prods_custs.loc[ords_prods_custs['State'] == 'Arizona', 'region'] = 'West'
ords_prods_custs.loc[ords_prods_custs['State'] == 'New Mexico', 'region'] = 'West'
ords_prods_custs.loc[ords_prods_custs['State'] == 'Alaska', 'region'] = 'West'
ords_prods_custs.loc[ords_prods_custs['State'] == 'Washington', 'region'] = 'West'
ords_prods_custs.loc[ords_prods_custs['State'] == 'Oregon', 'region'] = 'West'
ords_prods_custs.loc[ords_prods_custs['State'] == 'California', 'region'] = 'West'
ords_prods_custs.loc[ords_prods_custs['State'] == 'Hawaii', 'region'] = 'West'

### Determine whether thereâ€™s a difference in spending habits between the different U.S. regions

In [17]:
# Crosstab region to spending flag
crosstab = pd.crosstab(ords_prods_custs['region'], ords_prods_custs['spender_flag'],dropna = False)

In [18]:
crosstab.to_clipboard()

##### Note: Excel file is saved as Exercise 4.10 (crosstab) under 03 Scripts folder.

##### It appears that across all regions, high spenders make up a very small fraction (<1%) of the total, with only minor variations.

# 04 Create an exclusion flag for low-activity customers (customers with less than 5 orders) and exclude them from the data

In [35]:
# Create flag for customers with less than 5 orders
ords_prods_custs.loc[ords_prods_custs['max_order'] < 5, 'activity_flag'] = 'low-activity customer'
ords_prods_custs.loc[ords_prods_custs['max_order'] >=5, 'activity_flag'] = 'high-activity customer'

In [36]:
# Count of high and low acitivty customers
ords_prods_custs['activity_flag'].value_counts(dropna = False)

activity_flag
high-activity customer    30964564
low-activity customer      1440295
Name: count, dtype: int64

In [37]:
# Removing low-activity customers
ords_prods_custs_excluded = ords_prods_custs[ords_prods_custs['activity_flag'] != 'low-activity customer']

In [39]:
# Verifying the count of high and low activity customers after removing the rows
ords_prods_custs_excluded['activity_flag'].value_counts(dropna = False)

activity_flag
high-activity customer    30964564
Name: count, dtype: int64

In [41]:
# Exporting the data
ords_prods_custs_excluded.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods_custs_excluded.pkl'))